/* line 2, ../../sass/components/blog.scss */
.view-blog.view-id-blog .views-col {
  border: 1px solid #b56d6d;
  height: 350px;
  padding: 50px 60px;
  background: #e8e8e8;
}

/* line 9, ../../sass/components/blog.scss */
.view-blog.view-id-blog .views-field.views-field-body {
  background: #fff;
  padding: 16px;
}

/* line 14, ../../sass/components/blog.scss */
.view-blog.view-id-blog .views-field-field-blog-image {
  display: none;
}

/* line 18, ../../sass/components/blog.scss */
.view-blog.view-id-blog .views-field.views-field-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
