/* line 3, ../../sass/components/homepage.scss */
.navbar.container {
  background-image: url("/themes/custom/lebeza/images/gauguin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding-left: 0;
}

/* line 11, ../../sass/components/homepage.scss */
.navbar-default {
  background-color: #7d3636;
  border-color: #e7e7e7;
  height: 100px;
}

/* line 17, ../../sass/components/homepage.scss */
nav#block-lebeza-main-menu {
  background: #bada55;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  border: 1px solid blue;
}

/* line 25, ../../sass/components/homepage.scss */
.navbar-default .navbar-nav > li > a {
  color: #f5f5f5;
}

/* line 30, ../../sass/components/homepage.scss */
.region-footer .contextual-region {
  width: 50%;
  float: left;
}

/* line 35, ../../sass/components/homepage.scss */
.region-footer #block-footermenu-2 {
  width: 100%;
  /*border-top: 1px solid #eee;*/
}
